//-----------------------------------------
// Import variables
//-----------------------------------------

@import "variables";

//-----------------------------------------
// Imports css framework
//-----------------------------------------

@import 'bootstrap';

//-----------------------------------------
// main element
//-----------------------------------------

body{
  padding-top: 160px;
}



//-----------------------------------------
// navigation
//-----------------------------------------
#user_nav{
  @extend .pull-right;
}

#nav_login, #nav_header, #user_nav, #functional_nav{
  @extend .nav;
}

#nav_login{
  @extend .pull-right;
}

#nav_header{
  @extend .pull-left;
}

//-----------------------------------------
// header
//-----------------------------------------
#header_wrapper{
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .navbar-fixed-top;
}

#header_inner{
  @extend .navbar-inner;
}

#header_logo{
  $masterHeadHeight: 105px;
  height: 105px;
  background-color: #eff5f5;
  img{
    $imgHeight: 45px;
    padding-top: ($masterHeadHeight - $imgHeight) / 2 - 1;
    padding-right: 45px;
  }

  h1{
    display: inline-block;
    padding-top: ($masterHeadHeight - 36px) / 2 - 1;
  }

  ul {
    margin: 0 !important;
    float: left;
    list-style: none;
    li {
      float: left;
    }
  }  
}

//-----------------------------------------
// footer
//-----------------------------------------

footer {
  @extend .navbar-fixed-bottom;
  margin-top: 45px;
  padding-top: 5px;
  color: $grayDark !important;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

//-----------------------------------------
// section
//-----------------------------------------

section#content { 
	float: left;
	width: 100%;
	margin-right: 50px;
} 

section#sidebar {
	float: left;
	width: 265px;
}



