<div class="container">
  <footer class="page_footer">
    <small>
     &copy; <%= Date.today.year %> All Rights Reserved.
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home",   '/' %></li>        
      </ul>
    </nav>
  </footer>
</div>