<footer class="footer_wrapper">
  <div class="container">
    <small>
     &copy; <%= Date.today.year %> Volcabo All Rights Reserved.
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home",   '/' %></li>        
      </ul>
    </nav>
</div>
</footer>
