<head>
  <title>Volcabo</title>
  <meta name="description" content="Volcabo - The ultimate vocabulary online learning ressource ">
  <meta name="keywords" content="Volcabo - vocabulary - learning vocabulary online - newpathway">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>