<% content_for :main_navigation do %>
  <nav id="main_nav" role="navigation">
    <ul id="nav_header">
      <li><%= nav_tab 'Home', root_path, current: current_tab %></li>
    </ul>
  </nav>
<% end %>
